@charset "UTF-8";

/********************************

	基本設定

********************************/

:root {
    /* 配色 */
    --base-color: #ffffff; /* 通常の背景の色 */
    --main-color: #F4EAE6; /* スキル部分の背景など。メインの色 */
    --sub-color: #A7ABA2; /* アイコンの色など、サブカラー */
    --accent-color: #BF4572; /* 見出しの色など、アクセントカラー */
    --font-color1: #ffffff;  /* 背景に色がある場合の文字の色 */
    --font-color2: #d688a1;  /* 背景が白い場合の文字の色 */
    /* 欧文デザインフォント */
    --design-font: "Italianno";
    /* 日本語フォント */
    --japanese-font: "Noto Serif JP";
    /* serifかsans-serifか */
    --fallback-font: serif
}

html {
    font-family: var(--japanese-font), var(--fallback-font);
    font-weight: 300;
}

body {
    background: url("../images/main_sp.jpg") no-repeat center top; /* スマホ用メインの画像 */
    background-size: cover;
    background-attachment: fixed;
}

p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: var(--font-color2);
}

img {
    width: 100%;
}

/* サイトのタイトル */
h1 {
    color: var(--font-color2);
    font-family: var(--design-font), var(--japanese-font), var(--fallback-font); /* フォントを変更する */
}

h1 a {
    color: var(--font-color2);
    text-decoration: none;
}

/* 中見出し */
h2 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 42px;
    color: var(--accent-color);
    font-family: var(--design-font), var(--japanese-font), var(--fallback-font); /* フォントを変更する */
}

ul, li {
    list-style-type: none;
}

footer {
    text-align: center;
    padding: 10px;
    background: var(--main-color);
    color: var(--font-color2);
}

/* ヘッダーのすりガラス部分 */
.header-inner {
    position: relative;
    margin: auto;
    background: rgba(255,255,255,0.2); /* ヘッダー背景の半透明 */
    -webkit-backdrop-filter: blur(5px); /* すりガラス効果 Safari用 */
    backdrop-filter: blur(5px); /* すりガラス効果 Chrome用 */
}

/* トップへ戻るボタン */
.page-top {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    background: var(--sub-color);
    opacity: 0.6;
    border-radius: 50%;
}

.page-top a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
}

.page-top a::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: var(--font-color1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/********************************

	ホーム

********************************/

/*********** ヘッダー ***********/

.home .header {
    height: 60vh;
    position: relative;
}

.home .header-inner {
    margin: auto;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home .title {
    padding: 60px 20px;
    border: 2px solid #ffffff;
}

.home .title h1 {
    margin-bottom: 10px;
    font-size: 48px;
    text-align: center;
}

.home .sub-title {
    color: var(--font-color2);
    font-size: 24px;
    text-align: center;
    font-family: var(--design-font), var(--japanese-font), var(--fallback-font); /* フォントを変更する */
}

/* スクロールボタン */
.home .scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    height: 40px;
    width: 40px;
    background: rgba(255,255,255,0.5); /* スクロールボタンの半透明 */
    -webkit-backdrop-filter: blur(5px); /* すりガラス効果 Safari用 */
    backdrop-filter: blur(5px); /* すりガラス効果 Chrome用 */
    transform: translateX(-50%);
    border-radius: 50%;
}

/* スクロールボタン矢印 */
.home .scroll::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f103';
    font-size: 20px;
    color: var(--font-color2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/*********** 自己紹介 ***********/

.presentation {
    padding: 40px 20px;
    background: var(--base-color);
}

.presentation-text p:not(:last-of-type) {
    margin: 0 0 15px;
}

.portrait {
    display: block;
    width: 144px;
    height: 144px;
    border-radius: 50%;
    margin: 0 auto 30px;
}

/*********** メイン ***********/

/* スキル */

.skills {
    padding: 40px 20px;
    background: var(--main-color); /* スキルセクションの背景 */
}

.skills-inner {
    margin: auto;
    max-width: 1260px;
}

.skills-list li {
    display: flex;
    margin: 0 0 30px 0;
    align-items: center;
}

.skill-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--sub-color); /* スキルアイコンの背景色 */
    color: var(--font-color1); /* スキルアイコンの色 */
    height: 70px;
    width: 70px;
    font-size: 30px; /* スキルアイコンの大きさ */
    border-radius: 50%;
    margin-right: 20px;
}

.skill-text {
    flex: 1;
}

.skill-name {
    font-size: 32px;
    margin-bottom: 10px;
    font-family: var(--design-font), var(--japanese-font), var(--fallback-font); /* フォントを変更する */
}

/* 実績 */

.works {
    padding: 40px 20px;
    background: var(--base-color); /* 実績セクションの背景 */
}

/* ホームの実績一覧 */
.home .works-inner {
    max-width: 1266px;
    margin: auto;
}

.works-list-item {
    margin: 0 0 30px;
}

.works-list-link {
    display: block;
    text-decoration: none;
    font-size: 14px;
}

.works-list-image {
    margin: 0 0 4% 0;
    padding: 4.5% 4px 4px;
    background: url(../images/template.svg) #d6d6d6 center top no-repeat; /* ブラウザのモックアップ */
    background-size: contain;
    border-radius: 5px 5px 0 0;
}

.works-list-name {
    color: var(--accent-color);
}

.works-list-date {
    margin: 10px 0 0;
    font-size: 14px;
}

.works-list-text {
    margin: 10px 0 0;
    font-size: 14px;
}

/* コンタクト・SNS */

.contact {
    padding: 40px 20px;
    background: rgba(255,255,255,0.8);
    backdrop-filter: blur(5px);
}

ul.contact-list {
    display: flex;
    width: 200px;
    margin: auto;
    justify-content: space-around;
}

ul.contact-list li a {
    font-size: 38px; /* SNSアイコンの大きさ */
    color: var(--sub-color); /* SNSアイコンの色 */
}

/********************************

	下層ページ

********************************/

/*********** ヘッダー ***********/

.page .header {
}

.page .header-inner {
    padding: 10px;
}

.page h1 {
    text-align: center;
    font-size: 24px;
}

/*********** 実績詳細 ***********/

.work-detail {
    padding: 40px 20px;
    background: var(--base-color);
}

.work-detail h2 {
    line-height: 1.2;
    margin-bottom: 20px;
    font-family: var(--japanese-font), sans-serif; /* ここだけフォントをもとのまま */
    font-weight: 100;
}

/* 実績上部 */

/* 実績一覧 */
.page .works-inner {
    max-width: 800px;
    margin: auto;
}

.work-info {
    text-align: right;
    margin-bottom: 30px;
}

.work-main-image {
    margin-bottom: 30px;
    padding: 4.5% 4px 4px;
    background: url(../images/template.svg) #d6d6d6 center top no-repeat; /* ブラウザのモックアップ */
    background-size: contain;
    border-radius: 5px 5px 0 0;
}

.work-text {
    margin-bottom: 60px;
}

/* PC画面のキャプチャ */
.work-images-pc li {
    margin: 0 0 4% 0;
    padding: 4.5% 4px 4px;
    background: url(../images/template.svg) #d6d6d6 center top no-repeat; /* ブラウザのモックアップ */
    background-size: contain;
    border-radius: 5px 5px 0 0;
}

/* スマホ画面のキャプチャ */
.work-images-sp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-images-sp li {
    margin: 0 0 4% 0;
    padding: 5% 10px 10px;
    width: 48%;
    background: url(../images/template_sp.svg) #f7f7f7 center top no-repeat; /* スマホのモックアップ */
    background-size: contain;
    border-radius: 15px 15px 5px 5px;
}

.work-images-sp li img{
    border: 2px solid #cccccc;
    border-radius: 5px;
}

/********************************

    タブレット向け

********************************/

@media screen and (min-width: 768px) {

    /*********** 共通 ***********/

    body {
        background: url("../images/main.jpg") no-repeat center; /* タブレット、PC用メインの画像 */
        background-size: cover;
        background-attachment: fixed;
    }

    /*********** ホームのヘッダー ***********/

    .home .header {
        padding: 20px;
        height: 90vh;
    }

    .home .header-inner {
        width: 30%;
    }

    .home .title {
        padding: 80px 20px;
    }

    /* ホームのみヘッダーの飾り設定 */
    .home .header-inner::before,
    .home .header-inner::after {
        height: 150px;
        width: 150px;
    }

    /*********** 自己紹介 ***********/

    .presentation {
        padding: 120px 20px;
    }

    .presentation-inner {
        display: flex;
        align-items: center;
        max-width: 900px;
        margin: auto;
    }

    .portrait {
        margin: 0 50px 0 0;
    }

    /*********** 実績 ***********/

    .works-list {
        display: flex;
        flex-wrap: wrap;
    }

    .works-list li {
        width: 48%;
        margin: 0 4% 4% 0;
        padding: 2% 4px 4px;
    }

    .works-list li:nth-child(2n) {
        margin: 0 0 4%;
    }

    .works-list-image {
        transition: 0.2s box-shadow;
    }

    .works-list-link:hover .works-list-image{
        box-shadow: 0 3px 10px rgba(0,0,0,0.5);
    }

    /*********** コンタクト ***********/

    ul.contact-list li a:hover {
        opacity: 0.8;
    }

    /*********** 下層ページのヘッダー ***********/

    .page .header {
    }
}

/********************************

    PC向け

********************************/

@media screen and (min-width: 1024px) {

    /*********** 共通 ***********/

    h2 {
        font-size: 56px;
        margin-bottom: 60px;
    }

    p {
        font-size: 18px;
    }

    /*********** ホームのヘッダー ***********/

    /* ホームのみヘッダーの飾り設定 */
    .home .header-inner::before,
    .home .header-inner::after {
        height: 200px;
        width: 200px;
    }

    .home .title h1 {
        font-size: 80px;
    }

    .home .sub-title {
        font-size: 36px;
    }

    .portrait {
        width: 230px;
        height: 230px;
    }

    /*********** スキル ***********/

    .skills {
        padding: 120px 20px 80px;
    }

    .skills-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0
    }

    .skills-list li {
        width: 30%;
        margin: 0 5% 5% 0;
    }

    .skills-list li:nth-child(3n) {
        margin: 0 0 5% 0;
    }

    .skill-icon {
        width: 90px;
        height: 90px;
        font-size: 38px;
    }

    .skill-name {
        font-size: 42px;
    }

    /*********** 実績 ***********/

    .works {
        padding: 120px 20px ;
    }

    .works-list li {
        width: 32%;
        margin: 0 2% 2% 0;
        padding: 1.5% 4px 4px;
    }

    .works-list li:nth-child(2n) {
        margin: 0 2% 2% 0;
    }

    .works-list li:nth-child(3n) {
        margin: 0 0 2%;
    }

    /*********** コンタクト・SNS ***********/

    .contact {
        padding: 120px 20px ;
    }

    /*********** 下層ページのヘッダー ***********/

    .page h1 {
        font-size: 48px;
    }

    /*********** 下層ページのメイン ***********/


    /*********** 下層ページの実績詳細 ***********/

    .work-detail {
        padding: 80px 20px;
        margin: auto;
    }
}

